.main-section {
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.subtitle {
  margin: 0;
  font-size: 1.84rem;
  color: var(--grey-400);
  font-weight: var(--font-weight-200);
}

.title {
  margin: 0;
  font-size: 1.8rem;
  color: var(--grey-500);
  font-weight: var(--font-weight-600);
}

.description {
  font-size: 1.1rem;
  color: var(--grey-500);
  line-height: 1.3;
  margin-top: 24px;
}

.cards-feature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .cards-feature {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .card-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card-col.left,
  .card-col.right {
    justify-content: center;
    align-items: center;
  }

  .card-col.center {
    justify-content: center;
  }
}
